html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #050816;
}

.center {
  font-size: clamp(3rem, 20vw, 15rem); /* très grand et responsive */
}
