/*______CODE PRINCIPAL______*/

@font-face {
    font-family: 'formula';
    src: url(font/PPFormulaCondensed-Bold.woff2) format('woff2');
    src: url(font/PPFormulaCondensed-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Neuebit';
    src: url(font/PPNeueBit-Bold.woff2) format('woff2');
    src: url(font/PPNeueBit-Bold.woff) format('woff');
}

  
html {
    height: 100%;
  }

  body {
    background: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

::selection {
    background-color: rgb(255, 0, 255); 
}

img {
    display: block;
    max-width: 100%;
}

.page {
    max-width: 100%;
    margin: -16px;
}

video{
    max-width: 100%; 
}

.video-responsive { 
    overflow:hidden; 
    padding-bottom:56.25%; 
    position:relative; 
    height:0;
    }
    
    .video-responsive iframe {
    left:0; 
    top:0; 
    height:100%;
    width:100%;
    position:absolute;
    }


*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
/*______JAVASCRIPT______*/

.loader {
    width:20%;
    height:20%;
    position: absolute;
    align-items: center;
    align-self: center;
    align-content: center;
     display: grid;
    top:37%;
    left:40%;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.loader-container{
    opacity: 0;
    visibility: hidden;
}

.loader-container.hidden{
    opacity: 0;
    visibility: hidden;
}


/*______HAUT/BAS DE PAGE______*/



.header {
        position: fixed;
        display: grid;
        height: 160px;
        grid-template-columns: 0fr 5fr 1fr 5fr 0fr 5fr 1fr 5fr 0fr;
        gap: 10px;
        border: 4px solid black;
        z-index:1;
        place-items: center;
        margin: -4px;
        padding-left: 50px;
        padding-right: 40px;
        padding-top: 63px;
        font-family: 'formula', sans-serif;
        text-transform: uppercase;
        color: black;
        text-align: center;
        font-size: 70px;
        background: white;
        text-justify: inter-word;
 }
  

  .header a {
    color: black;
    text-decoration: none;
    place-items: center;
    transition: 0.5s;
}

.header a:visited {
    color: black;
    text-decoration: none;
}

.header a:hover {
    color: rgb(255, 0, 255);
    text-decoration: none;
    transition: 0.5s;
}

.nav {
    display:none;
}


 a {
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 0, 255);
    text-decoration: none;
    transition: 0.5s;
}


/*______GRILLE IMAGE______*/

.textegauche {
    position:fixed;
    left: -1px;
    width: 350px;
	color: white;
    border-right: 2px solid black;
    bottom: 0px;
    padding-top: 140px;
    padding-left: 20px;
    padding-right: 20px;
    top: 0px;
    font-weight: bold;
    font-size: large;
    font-family:  'Neuebit', sans-serif;
    text-align:left;
    line-height: 85%;
    font-weight:100;
    font-size:17px;
    color: black;
    background-color: white;

}

.h1 {
    font-family: 'Neuebit', sans-serif;
    text-transform: uppercase;
    text-align:left; 
    line-height: 100%;
    font-size: 19px;
}
    
.projects{
    display: grid;
    top: 0px;
    bottom: 0px;
    padding-left: 350px;
    margin-right: -17px;
    padding-top: 150px;
    grid-template-columns: repeat(1, 1fr);
}


.footer{
    position:sticky; 
    left: 0 ; right: 0;
    padding-bottom: 30px;
    text-align: left; 
    font-weight: bold;
    font-size: large;
    font-family:  'Neuebit', sans-serif;
    line-height: 85%;
    font-weight:100;
    font-size:17px;
    color: black;
    background-color: white;

}


/*__________________________________texte déroulant_____________________________*/

.scroll {
    display: block;
    width: 100%;
    position: fixed;
    overflow: hidden;
    left: 0px;
    top: 0px;
    z-index: 10;
    transition: 0.5s;
}

.scrollingtext {
    text-transform: uppercase;
    display: block;
    font-family: 'Neuebit', sans-serif;
    font-size: 26px;
    font-weight: medium;
    text-decoration: none;
    color: white;
    background-color: black;
    height: 30px;
    padding-top: 7px;
    white-space: nowrap;
    text-indent: 100%;
    animation: floatText 40s infinite linear;
}

.scrollingtext:hover {
    color: white;
    animation-play-state: paused;
    background-color: rgb(255, 0, 255);
    transition: 0.5s;
}

@-webkit-keyframes floatText {
    from {
        text-indent: 0%;
    }

    to {
        text-indent: -100%;
    }
}


    
    /*______________________________________LOAD________________________________________*/
    
    .logogauche {
        -webkit-animation: spin 4s linear infinite;
        -moz-animation: spin 4s linear infinite;
        animation: spin 4s linear infinite;
        width: 200%;
       margin-top: -20px;
    }
    
    @-moz-keyframes spin {
        100% {
            -moz-transform: rotate(360deg);
        }
    }
    
    @-webkit-keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    
    @keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    
    .logodroite {
        -webkit-animation: spin-reverse 4s linear infinite;
        -moz-animation: spin-reverse 4s linear infinite;
        animation: spin-reverse 4s linear infinite;
        width: 200%;
       margin-top: -20px;
    }
    
    @-moz-keyframes spin-reverse {
        100% {
            -moz-transform: rotate(-360deg);
        }
    }
    
    @-webkit-keyframes spin-reverse {
        100% {
            -webkit-transform: rotate(-360deg);
        }
    }
    
    @keyframes spin-reverse {
        100% {
            -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
        }
    }


    /*________________________________RESPONSIVE tel____________________________________*/


    @media (min-width:319px){
 

        .loader { width:45%; height:45%; top:25%; left:28%; }
        .header { display: none;}
        .scrollingtext { font-size: 17px; height: 21px; }
        .scroll { z-index: 20; }
      
  .chroma { position: fixed; padding-top: 50px; padding-left: 30px; z-index: 10; font-size: 50px; font-family: 'formula'; text-transform: uppercase; background: white; border: 2px solid black; height: 118px; width: 107%; text-decoration: none;}
  .chroma a { color: black; text-decoration: none}
  .chroma a:visited { color: black; text-decoration: none}
  .chroma a:hover { color: rgb(255, 0, 255); transition: 0.5s; }
  input + label { position: fixed; top: 50px; right: 40px; 
  height: 20px; width: 15px; z-index: 50; text-decoration: none}
  span { position: absolute; width: 200%; height: 4px; top: 50%; left: 0;
  display: block; background: black; transition: .5s; }
  span:first-child { top: 0px; }
  span:last-child { top: 20px; }      
  label:hover { cursor: pointer; }
  input:checked + label { span { opacity: 0; top: 50%; }
  span:first-child { opacity: 1;transform: rotate(405deg); }
  span:last-child { opacity: 1; transform: rotate(-405deg); } }
  input ~ nav { background: white; position: fixed; top: 0; left: 0; width: 100%; height: 100px; z-index: 3; transition: .5s; transition-delay: .5s; overflow: hidden; }
  ul { text-align: center; position: absolute; top: 32%; left: 20%; right: 20%;  }
  li { opacity: 100; transition: .5s; transition-delay: 0s; }
  .navv { text-decoration: none; text-transform: uppercase; color: black;
  font-family: 'formula'; z-index: 20; font-size: 30px; display: block; padding: 15px; }
  .top-nav a { color: black; }
  .top-nav a:visited { color: black; }
  .top-nav a:hover { color: rgb(255, 0, 255); transition: 0.5s; }   
  input:checked ~ nav { height: 100%; transition-delay: 0s; } 
      
        .logogauche { width: 15%; margin-bottom: 30px; }
        .logodroite { width: 15%; margin-top: 30px; }
      
        .grid { grid-template-columns: repeat(1, 1fr); padding-top: 145px; 
        margin-left: 60px; margin-right: 30px; gap: 30px; } 
        .visuels { line-height: 40px; font-size: 13px; 
        border: 2px solid black; border-radius: 25px ;}
        .footer{ font-size: 16px; padding-left: 100px ; right: 0; }

        .textegauche { display: none;}
        .footer{ font-size: 15px; padding-left: 40px ; padding-right: 10px; padding-top: 30px; }
        .h1 { font-size: 17px; } 
        .projects { padding-left: 15px; margin-right: -17px; padding-top: 100px;grid-template-columns: 1fr }
        .projects2 { padding-left: 15px; margin-right: -17px; padding-top: 0px; }
        .projects3 { padding-left: 15px; margin-right: -17px; padding-top: 100px; }
      }
      
      @media (min-width:374px){
      
      
          .loader { width:45%; height:45%; top:25%; left:28%; }
          .header { display: none;}
          .scrollingtext { font-size: 19px; height: 23px; }
          .scroll { z-index: 20; }
      
          .chroma { position: fixed; padding-top: 50px; font-size: 60px; 
          height: 130px;  border: 3px solid black; text-decoration: none;}
          input + label { top: 55px; right: 45px; 
          height: 20px; width: 20px; z-index: 50; }
          span { position: absolute; width: 200%; height: 5px; top: 50%; left: 0;
          display: block; background: black; transition: .5s; }
          span:first-child { top: -2px; }
          span:last-child { top: 22px; }      
          ul { top: 34%; }
          .navv { font-size: 35px; padding: 15px; }
        
          .logogauche { width: 15%; margin-bottom: 30px; }
          .logodroite { width: 15%; margin-top: 30px; }
        
          .grid { grid-template-columns: repeat(1, 1fr); padding-top: 165px; 
          margin-left: 70px; margin-right: 40px; gap: 30px; } 
          .visuels { line-height: 40px; font-size: 14px; 
          border: 3px solid black; border-radius: 25px ;}
          .footer{ padding-left: 30px ; right: 0; }

          .textegauche { display: none;}
          .footer{ font-size: 17px; padding-left: 50px ; padding-right: 20px; padding-top: 30px; }
          .h1 { font-size: 19px; } 
          .projects { padding-left: 15px; margin-right: -17px; padding-top: 110px;grid-template-columns: 1fr }
          .projects2 { padding-left: 15px; margin-right: -17px; padding-top: 0px; }
          .projects3 { padding-left: 15px; margin-right: -17px; padding-top: 110px; }
      }
      
      
      @media (min-width:413px){
      
      
          .loader { width:45%; height:45%; top:25%; left:28%; }
          .header { display: none;}
          .scrollingtext { font-size: 19px; height: 23px; }
          .scroll { z-index: 20; }
      
          .chroma { position: fixed; padding-top: 50px; font-size: 60px; 
          height: 130px;  border: 3px solid black;}
          input + label { top: 55px; right: 45px; 
          height: 20px; width: 20px; z-index: 50; }
          span { position: absolute; width: 200%; height: 5px; top: 50%; left: 0;
          display: block; background: black; transition: .5s; }
          span:first-child { top: -2px; }
          span:last-child { top: 22px; }      
          ul { top: 34%; }
          .navv { font-size: 35px; padding: 15px; }
        
          .logogauche { width: 17%; margin-bottom: 35px; }
          .logodroite { width: 17%; margin-top: 35px; }
        
          .grid { grid-template-columns: repeat(1, 1fr); padding-top: 165px; 
          margin-left: 80px; margin-right: 50px; gap: 30px; } 
          .visuels { line-height: 45px; font-size: 15px; 
          border: 3px solid black; border-radius: 30px ;}
          .footer{ font-size: 17px; padding-left: 30px ; right: 0; }
        
          .textegauche { display: none;}
          .footer{ font-size: 19px; padding-left: 60px ; padding-right: 40px; padding-top: 30px; }
          .h1 { font-size: 21px; } 
          .projects { padding-left: 15px; margin-right: -17px; padding-top: 110px;grid-template-columns: 1fr }
          .projects2 { padding-left: 15px; margin-right: -17px; padding-top: 0px; }
          .projects3 { padding-left: 15px; margin-right: -17px; padding-top: 110px; }
      }
      
      
      @media (min-width:500px){
      
      
          .loader { width:45%; height:45%; top:25%; left:28%; }
          .header { display: none;}
          .scrollingtext { font-size: 19px; height: 23px; }
          .scroll { z-index: 20; }
      
          .chroma { position: fixed; padding-top: 55px; font-size: 70px; 
          height: 150px; padding-left: 35px;  border: 3px solid black;}
          input + label { top: 63px; right: 60px; 
          height: 20px; width: 25px; z-index: 50; }
          span { position: absolute; width: 200%; height: 6px; top: 50%; left: 0;
          display: block; background: black; transition: .5s; }
          span:first-child { top: -5px; }
          span:last-child { top: 25px; }      
          ul { top: 34%; }
          .navv { font-size: 40px; padding: 15px; }
        
          .logogauche { width: 18%; margin-bottom: 40px; }
          .logodroite { width: 18%; margin-top: 35px; }
        
          .grid { grid-template-columns: repeat(2, 1fr); padding-top: 165px; 
          margin-left: 40px; margin-right: 10px; gap: 20px; } 
          .visuels { line-height: 40px; font-size: 13px; 
          border: 3px solid black; border-radius: 30px ;}
          .footer{ font-size: 15px; padding-left: 30px ; right: 0; }
        
          .textegauche { display: none;}
          .footer{ font-size: 20px; padding-left: 60px ; padding-right: 50px; padding-top: 30px; }
          .h1 { font-size: 22px; } 
          .projects { padding-left: 15px; margin-right: -17px; padding-top: 130px;grid-template-columns: 1fr }
          .projects2 { padding-left: 15px; margin-right: -17px; padding-top: 0px; }
          .projects3 { padding-left: 15px; margin-right: -17px; padding-top: 130px; }
      }
      
      
      @media (min-width:600px){
      
          .loader { width:45%; height:45%; top:25%; left:28%; }
          .header { display: none;}
          .scrollingtext { font-size: 21px; height: 25px; }
          .scroll { z-index: 20; }
      
          .chroma { position: fixed; padding-top: 55px; font-size: 80px; 
          height: 160px; padding-left: 45px;  border: 3px solid black;}
          input + label { top: 70px; right: 70px; 
          height: 20px; width: 30px; z-index: 50; }
          span { position: absolute; width: 200%; height: 7px; top: 50%; left: 0;
          display: block; background: black; transition: .5s; }
          span:first-child { top: -7px; }
          span:last-child { top: 27px; }      
          ul { top: 34%; }
          .navv { font-size: 40px; padding: 15px; }
        
          .logogauche { width: 15%; margin-bottom: 40px; }
          .logodroite { width: 15%; margin-top: 35px; }
        
          .grid { grid-template-columns: repeat(2, 1fr); padding-top: 180px; 
              margin-left: 50px; margin-right: 20px; gap: 30px; } 
              .visuels { line-height: 45px; font-size: 14px; 
              border: 3px solid black; border-radius: 30px ;}
              .footer{ font-size: 16px; padding-left: 30px ; right: 0; }

              .textegauche { display: none;}
              .footer{ font-size: 21px; padding-left: 60px ; padding-right: 60px; padding-top: 30px; }
              .h1 { font-size: 23px; } 
              .projects2 { padding-left: 15px; margin-right: -17px; padding-top: 0px; }
              .projects3 { padding-left: 15px; margin-right: -17px; padding-top: 140px; }
      }
      
      @media (min-width: 700px){
      
          .loader { width:40%; height:40%; top:32%; left:30%; }
          .header { display: none;}
          .scrollingtext { font-size: 21px; height: 25px; }
          .scroll { z-index: 20; }
      
          .chroma { position: fixed; padding-top: 55px; font-size: 90px; 
          height: 170px; padding-left: 45px;  border: 3px solid black;}
          input + label { top: 73px; right: 85px; 
          height: 20px; width: 25px; z-index: 50; }
          span { position: absolute; width: 250%; height: 8px; top: 50%; left: 0;       display: block; background: black; transition: .5s; }
          span:first-child { top: -9px; }
          span:last-child { top: 29px; }      
          ul { top: 34%; }
          .navv { font-size: 60px; padding: 0px; }
        
          .logogauche { width: 15%; margin-bottom: 40px; }
          .logodroite { width: 15%; margin-top: 35px; }
        
          .grid { grid-template-columns: repeat(2, 1fr); padding-top: 190px; 
              margin-left: 50px; margin-right: 20px; gap: 30px; } 
              .visuels { line-height: 50px; font-size: 15px; 
              border: 3px solid black; border-radius: 30px ;}
              .footer{ font-size: 17px; padding-left: 30px ; right: 0; }
            
              .textegauche { display: none;}
              .footer{ font-size: 21px; padding-left: 60px ; padding-right: 60px; padding-top: 30px; }
              .h1 { font-size: 23px; } 
              .projects { padding-left: 15px; margin-right: -17px; padding-top: 150px;grid-template-columns: repeat(2, 1fr) }
              .projects2 { padding-left: 15px; margin-right: -17px; padding-top: 0px; }
              .projects3 { padding-left: 15px; margin-right: -17px; padding-top: 150px; }
      }
      
      
      @media (min-width: 800px){
      
          .header { display: none;}
          .scrollingtext { font-size: 22px; height: 26px; }
          .scroll { z-index: 20; }
      
          .chroma { position: fixed; padding-top: 60px; font-size: 100px; 
          height: 190px; padding-left: 55px;  border: 3px solid black;}
          input + label { top: 83px; right: 90px; 
          height: 20px; width: 25px; z-index: 50; }
          span { position: absolute; width: 250%; height: 8px; top: 50%; left: 0;       display: block; background: black; transition: .5s; }
          span:first-child { top: -9px; }
          span:last-child { top: 29px; }      
          ul { top: 34%; }
          .navv { font-size: 60px; padding: 0px; }
        
          .logogauche { width: 12%; margin-bottom: 40px; }
          .logodroite { width: 12%; margin-top: 35px; }
        
          .grid { grid-template-columns: repeat(2, 1fr); padding-top: 220px; 
              margin-left: 60px; margin-right: 30px; gap: 40px; } 
              .visuels { line-height: 50px; font-size: 17px; 
              border: 3px solid black; border-radius: 35px ;}
              .footer{ font-size: 19px; padding-left: 30px ; right: 0; }

              .textegauche { display: none;}
              .footer{ font-size: 22px; padding-left: 60px ; padding-right: 60px; padding-top: 30px; }
              .h1 { font-size: 24px; } 
              .projects { padding-left: 15px; margin-right: -17px; padding-top: 170px;grid-template-columns: repeat(2, 1fr) }
              .projects2 { padding-left: 15px; margin-right: -17px; padding-top: 0px; }
              .projects3 { padding-left: 15px; margin-right: -17px; padding-top: 172px; }
      }
      
      
      
      @media (min-width: 900px){
      
          .header { display: none;}
          .scrollingtext { font-size: 24px; height: 28px; }
          .scroll { z-index: 20; }
      
          .chroma { position: fixed; padding-top: 65px; font-size: 110px; 
          height: 210px; padding-left: 65px;  border: 4px solid black;text-decoration: none;}
          input + label { top: 93px; right: 110px; 
          height: 20px; width: 30px; z-index: 50; }
          span { position: absolute; width: 250%; height: 9px; top: 50%; left: 0;       display: block; background: black; transition: .5s; }
          span:first-child { top: -12px; }
          span:last-child { top: 32px; }      
          ul { top: 34%; }
          .navv { font-size: 60px; padding: 0px; }
        
          .logogauche { width: 12%; margin-bottom: 40px; }
          .logodroite { width: 12%; margin-top: 35px; }
        
          .grid { grid-template-columns: repeat(2, 1fr); padding-top: 250px; 
              margin-left: 70px; margin-right: 40px; gap: 50px; } 
              .visuels { line-height: 55px; font-size: 18px; 
              border: 4px solid black; border-radius: 40px ;}
              .footer{ font-size: 20px; padding-left: 30px ; right: 0; }
            
              .textegauche { display: none;}
              .footer{ font-size: 23px; padding-left: 60px ; padding-right: 60px; padding-top: 30px; }
              .h1 { font-size: 25px; } 
              .projects { padding-left: 15px; margin-right: -17px; padding-top: 190px;grid-template-columns: repeat(2, 1fr) }
              .projects2 { padding-left: 15px; margin-right: -17px; padding-top: 0px; }
              .projects3 { padding-left: 15px; margin-right: -17px; padding-top: 190px; }
      }
      
      
      @media (min-width: 1000px){
      
          .header { display: none;}
          .scrollingtext { font-size: 25px; height: 29px; }
          .scroll { z-index: 20; }
      
          .chroma { position: fixed; padding-top: 65px; font-size: 110px; 
          height: 210px; padding-left: 65px;  border: 4px solid black; text-decoration: none;}
          input + label { top: 93px; right: 110px; 
          height: 20px; width: 30px; z-index: 50; }
          span { position: absolute; width: 250%; height: 9px; top: 50%; left: 0;       display: block; background: black; transition: .5s; }
          span:first-child { top: -12px; }
          span:last-child { top: 32px; }      
          ul { top: 34%; }
          .navv { font-size: 60px; padding: 0px; }
        
          .logogauche { width: 12%; margin-bottom: 40px; }
          .logodroite { width: 12%; margin-top: 35px; }
        
          .grid { grid-template-columns: repeat(2, 1fr); padding-top: 250px; 
              margin-left: 80px; margin-right: 50px; gap: 60px; } 
              .visuels { line-height: 60px; font-size: 19px; 
              border: 4px solid black; border-radius: 40px ;}

              
              .textegauche { display: none;}
              .footer{ font-size: 23px; padding-left: 60px ; padding-right: 60px; padding-top: 30px; }
              .h1 { font-size: 25px; } 
              .projects { padding-left: 15px; margin-right: -17px; padding-top: 190px;grid-template-columns: repeat(2, 1fr) }
              .projects2 { padding-left: 15px; margin-right: -17px; padding-top: 0px; }
              .projects3 { padding-left: 15px; margin-right: -17px; padding-top: 190px; }
      }
      
      /*__________________________RESPONSIVE ordi___________________________________*/
      
      
      @media (min-width:1111px){
          .section { display: none; }
          .chroma { display: none;}
          .scrollingtext { font-size: 26px; height: 30px; }
          .header {display: grid;}
          .top-nav { display: none; }
          .loader { width:30%; height:30%; top:37%; left:35%; }
          .logogauche { width: 500%; margin-bottom: 0px;}
          .logodroite { width: 500%; margin-bottom: 50px;}
          .responsive { color: white; }
          .grid{ grid-template-columns: repeat(4, 1fr); padding-top: 200px; 
          margin-left: 50px; margin-right: 20px; gap: 30px; }
          .visuels {line-height: 40px; font-size: 13px;
          border: 4px solid black; border-radius: 30px;}
          .footer{ display: none}
          .textegauche { display: block;}
          .textegauche { padding-top: 140px; padding-left: 20px; 
            padding-right: 20px; font-size:14px; border-right: 4px solid black;}
          .h1 { font-size: 16px; } 
          .projects { padding-left: 350px; margin-right: -17px; padding-top: 150px; }
          .projects2 { padding-left: 364px; margin-right: -17px; padding-top: 0px; }
          .projects3 { padding-left: 364px; margin-right: -17px; padding-top: 155px; }
      }
      
      @media (min-width:1150px){
          .logogauche { width: 420%; }
          .logodroite { width: 420%; }
          .textegauche { padding-top: 140px; padding-left: 20px; 
            padding-right: 20px; font-size:14px; border-right: 4px solid black; }
          .h1 { font-size: 16px; } 
          .projects { padding-left: 350px; margin-right: -17px; padding-top: 150px; }
          .projects2 { padding-left: 364px; margin-right: -17px; padding-top: 0px; }
          .projects3 { padding-left: 364px; margin-right: -17px; padding-top: 155px; }
      }
      
      @media (min-width:1200px){
          .logogauche { width: 350%; }
          .logodroite { width: 350%; }
          .responsive { color: black; }
          .visuels { line-height: 45px; font-size: 14px; 
          border: 4px solid black; border-radius: 30px; }
          .footer { font-size: 17px; }
          .textegauche { padding-top: 140px; padding-left: 20px; 
            padding-right: 20px; font-size:14px; border-right: 4px solid black; }
          .h1 { font-size: 16px; } 
          .projects { padding-left: 350px; margin-right: -17px; padding-top: 150px; }
          .projects2 { padding-left: 364px; margin-right: -17px; padding-top: 0px; }
          .projects3 { padding-left: 364px; margin-right: -17px; padding-top: 155px; }
      }
      
      
      @media (min-width:1280px){
          .logogauche { width: 300%; }
          .logodroite { width: 300%; }
          .responsive { color: black; }
          .visuels { line-height: 45px; font-size: 15px; 
          border: 4px solid black; border-radius: 30px; }
          .footer { font-size: 18px; }
          .textegauche { padding-top: 140px; padding-left: 20px; 
            padding-right: 20px; font-size:15px; border-right: 4px solid black;}
          .h1 { font-size: 17px; } 
          .projects { padding-left: 350px; margin-right: -17px; padding-top: 150px; }
          .projects2 { padding-left: 364px; margin-right: -17px; padding-top: 0px; }
          .projects3 { padding-left: 364px; margin-right: -17px; padding-top: 155px; }
          
      }
      
      
      @media (min-width:1350px){
          .logogauche { width: 270%; }
          .logodroite { width: 270%; }
          .textegauche { padding-top: 140px; padding-left: 20px; 
            padding-right: 20px; font-size:15px; }
          .h1 { font-size: 17px; } 
          .projects { padding-left: 350px; margin-right: -17px; padding-top: 150px; }
          .projects2 { padding-left: 365px; margin-right: -17px; padding-top: 0px; }
          .projects3 { padding-left: 365px; margin-right: -17px; padding-top: 155px; }
          
      }
      
      
      @media (min-width:1400px){
          .logogauche { width: 230%; }
          .logodroite { width: 230%; }
          .visuels { line-height: 50px; font-size: 16px; 
          border: 4px solid black; border-radius: 35px; }
          .footer { font-size: 19px; }
          .textegauche { padding-top: 140px; padding-left: 20px; 
            padding-right: 20px; font-size:16px; border-right: 4px solid black;}
          .h1 { font-size: 18px; } 
          .projects { padding-left: 350px; margin-right: -17px; padding-top: 150px; }
          .projects2 { padding-left: 365px; margin-right: -17px; padding-top: 0px; }
          .projects3 { padding-left: 365px; margin-right: -17px; padding-top: 155px; }
            
      }
      
      @media (min-width:1500px){
          .logogauche { width: 200%; }
          .logodroite { width: 200%; }
          .visuels { line-height: 50px; font-size: 17px; 
          border: 4px solid black; border-radius: 35px; }
          .footer { font-size: 20px; }
          .textegauche { padding-top: 140px; padding-left: 20px; 
          padding-right: 20px; font-size:17px;  border-right: 4px solid black;}
          .h1 { font-size: 19px; } 
          .projects { padding-left: 350px; margin-right: -17px; padding-top: 150px; }
          .projects2 { padding-left: 365px; margin-right: -17px; padding-top: 0px; }
          .projects3 { padding-left: 365px; margin-right: -17px; padding-top: 155px; }

      }
      
      @media (min-width:1600px){
      
          .header { height: 175px; padding-left: 50px; padding-right: 40px;
          padding-top: 63px; font-size: 80px; }
          .logogauche { width: 215%; margin-top: -22px;}
          .logodroite { width: 215%; margin-top: -22px; margin-bottom: 0px;}
          .grid { gap: 40px; padding-top: 210px;}
          .visuels { line-height: 55px; font-size: 18px; 
          border: 4px solid black; border-radius: 40px; }
          .footer { font-size: 21px; }
          .textegauche { padding-top: 140px; padding-left: 20px; 
          padding-right: 20px; font-size:18px; }
          .h1 { font-size: 20px; } 
          .projects { padding-left: 350px; margin-right: -17px; padding-top: 170px; }
          .projects2 { padding-left: 365px; margin-right: -17px; padding-top: 0px; }
          .projects3 { padding-left: 365px; margin-right: -17px; padding-top: 155px; }
          
      }
      
      
      @media (min-width:1680px){
          .logogauche { width: 205%; }
          .logodroite { width: 205%; }
          .grid { gap: 40px;}
          .visuels { line-height: 55px; font-size: 20px; 
              border: 4px solid black; border-radius: 40px; }
          .footer { font-size: 22px; }
          .textegauche { padding-top: 160px; padding-left: 30px; 
                padding-right: 30px; font-size:19px; }
          .h1 { font-size: 21px; } 
          .projects { padding-left: 350px; margin-right: -17px; padding-top: 170px; }
          .projects2 { padding-left: 365px; margin-right: -17px; padding-top: 0px; }
          .projects3 { padding-left: 365px; margin-right: -17px; padding-top: 165px; }
      }
      
      @media (min-width:1800px){
          .logogauche { width: 220%; margin-top: -23px }
          .logodroite { width: 220%; margin-top: -23px}
          .header { height: 185px; padding-left: 50px; padding-right: 40px;
          padding-top: 66px; font-size: 90px }
          .grid { gap: 40px; padding-top: 220px; grid-template-columns: repeat(5, 1fr);}
          .visuels { line-height: 50px; font-size: 16px; 
          border: 4px solid black; border-radius: 40px; }
          .footer { font-size: 20px; }
          .textegauche { padding-top: 160px; padding-left: 30px; 
          padding-right: 30px; font-size:20px; border-right: 4px solid black;}
          .h1 { font-size: 22px; } 
          .projects { padding-left: 350px; margin-right: -17px; padding-top: 180px; grid-template-columns: repeat(2, 1fr);}
          .projects2 { padding-left: 365px; margin-right: -17px; padding-top: 0px; }
          .projects3 { padding-left: 365px; margin-right: -17px; padding-top: 180px; }
      }
      
      @media (min-width:1919px){
          .logogauche { width: 190%; }
          .logodroite { width: 190%; }
          .grid { gap: 40px; grid-template-columns: repeat(5, 1fr);}
          .visuels { line-height: 50px; font-size: 17px; 
          border: 4px solid black; border-radius: 40px; }
          .footer { font-size: 20px; }
          .textegauche { padding-top: 160px; padding-left: 30px; 
          padding-right: 30px; font-size:21px; width: 400px; border-right: 4px solid black;}
          .h1 { font-size: 23px; } 
          .projects { padding-left: 400px; margin-right: -17px; padding-top: 180px; grid-template-columns: repeat(2, 1fr);}
          .projects2 { padding-left:  413px; margin-right: -17px; padding-top: 0px; }
          .projects3 { padding-left: 413px; margin-right: -17px; padding-top: 180px; }
      }
      
      @media (min-width:2000px){
          .logogauche { width: 180%; }
          .logodroite { width: 180%; }
          .grid { gap: 40px; grid-template-columns: repeat(5, 1fr);}
          .visuels { line-height: 50px; font-size: 18px; 
          border: 4px solid black; border-radius: 45px; }
          .footer { font-size: 21px; }
          .textegauche { padding-top: 160px; padding-left: 30px; 
          padding-right: 30px; font-size:22px; width: 400px;  border-right: 4px solid black;}
          .h1 { font-size: 24px; } 
          .projects { padding-left: 400px; margin-right: -17px; padding-top: 180px; grid-template-columns: repeat(2, 1fr);}
          .projects2 { padding-left:  414px; margin-right: -17px; padding-top: 0px; }
          .projects3 { padding-left: 414px; margin-right: -17px; padding-top: 180px; }
      }
      
      @media (min-width:2100px){
          .logogauche { width: 160%; }
          .logodroite { width: 160%; }
          .grid { gap: 40px; grid-template-columns: repeat(5, 1fr);}
          .visuels { line-height: 55px; font-size: 19px; 
          border: 4px solid black; border-radius: 45px; }
          .footer { font-size: 22px; }
          .textegauche { padding-top: 160px; padding-left: 30px; 
            padding-right: 30px; font-size:23px; width: 450px; border-right: 4px solid black;}
          .h1 { font-size: 25px; } 
          .projects { padding-left: 450px; margin-right: -17px; padding-top: 180px; grid-template-columns: repeat(2, 1fr);}
          .projects2 { padding-left:  464px; margin-right: -17px; padding-top: 0px; }
          .projects3 { padding-left: 464px; margin-right: -17px; padding-top: 180px; }
      }
      
      @media (min-width:2200px){
          .header { height: 200px; padding-left: 50px; padding-right: 40px;
          padding-top: 66px; font-size: 100px }
          .logogauche { width: 170%; }
          .logodroite { width: 170%; }
          .grid { gap: 40px; grid-template-columns: repeat(5, 1fr); padding-top: 240px;}
          .visuels { line-height: 55px; font-size: 20px; 
          border: 4px solid black; border-radius: 45px; }
          .footer { font-size: 23px; }
          .textegauche { padding-top: 170px; padding-left: 30px; 
            padding-right: 30px; font-size:24px; width: 450px;  border-right: 4px solid black;}
          .h1 { font-size: 26px; } 
          .projects { padding-left: 450px; margin-right: -17px; padding-top: 195px; grid-template-columns: repeat(2, 1fr);}
          .projects2 { padding-left:  464px; margin-right: -17px; padding-top: 0px; }
          .projects3 { padding-left: 464px; margin-right: -17px; padding-top: 195px; }
      }
      
      @media (min-width:2300px){
          .logogauche { width: 160%; }
          .logodroite { width: 160%; }
          .grid { gap: 40px; grid-template-columns: repeat(5, 1fr);}
          .visuels { line-height: 55px; font-size: 21px; 
          border: 4px solid black; border-radius: 45px; }
          .footer { font-size: 24px; }
          .textegauche { padding-top: 170px; padding-left: 30px; 
            padding-right: 30px; font-size:25px; width: 450px; border-right: 4px solid black;}
          .h1 { font-size: 27px; } 
          .projects { padding-left: 450px; margin-right: -17px; padding-top: 195px; grid-template-columns: repeat(2, 1fr);}
          .projects2 { padding-left:  464px; margin-right: -17px; padding-top: 0px; }
          .projects3 { padding-left: 464px; margin-right: -17px; padding-top: 195px; }
      }
      
      @media (min-width:2400px){
          .logogauche { width: 150%; }
          .logodroite { width: 150%; }
          .grid { gap: 40px; grid-template-columns: repeat(5, 1fr);}
          .visuels { line-height: 60px; font-size: 22px; 
          border: 4px solid black; border-radius: 45px; }
          .footer { font-size: 25px; }
          .textegauche { padding-top: 170px; padding-left: 30px; 
            padding-right: 30px; font-size:26px; width: 450px; border-right: 4px solid black;}
          .h1 { font-size: 28px; } 
          .projects { padding-left: 450px; margin-right: -17px; padding-top: 195px; grid-template-columns: repeat(2, 1fr);}
          .projects2 { padding-left:  464px; margin-right: -17px; padding-top: 0px; }
          .projects3 { padding-left: 464px; margin-right: -17px; padding-top: 195px; }
      }
      
      
      @media (min-width:2500px){
          .header { height: 210px; padding-left: 50px; padding-right: 40px;
          padding-top: 66px; font-size: 110px }
          .logogauche { width: 160%; }
          .logodroite { width: 160%; }
          .grid { gap: 40px; grid-template-columns: repeat(5, 1fr); padding-top: 250px;}
          .visuels { line-height: 70px; font-size: 23px; 
          border: 4px solid black; border-radius: 50px; }
          .footer { font-size: 26px; }
          .textegauche { padding-top: 170px; padding-left: 30px; 
            padding-right: 30px; font-size:26px; width: 450px;  border-right: 4px solid black;}
          .h1 { font-size: 28px; } 
          .projects { padding-left: 450px; margin-right: -17px; padding-top: 205px; grid-template-columns: repeat(2, 1fr);}
          .projects2 { padding-left:  464px; margin-right: -17px; padding-top: 0px; }
          .projects3 { padding-left: 464px; margin-right: -17px; padding-top: 205px; }
    
}
      
